.styled-navbar {
  /* background-color: #000; */
  height: 60px;
  /* width: 100%; */
  margin: 0 15vw 0 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  font-size: 14px;
  position: sticky;
  top: 0;
  z-index: 10;
  /* padding: 15px 30px 15px 15px; */

  @media screen and (max-width: 960px) {
    transition: 0.8s all ease;
  }
}

.navbar-container {
  display: flex;
  align-items: center;

  /* justify-content: space-between; */
  height: 80px;
  z-index: 1;
  width: 100%;
  /* padding: 0 24px; */
  max-width: 1100px;
}

.navbar-logo {
  color: var(--opal-light);

  cursor: pointer;

  display: flex;
  /* gap: 10px; */
  /* margin-left: 24px; */
  font-family: Dokdo, "Helvetica Neue", sans-serif;
  color: var(--color-almost-white);
  font-size: 30px;
  font-weight: bold;

  /* margin-right: auto; */
}

/* .nav-bars-icon {
  display: none;

  @media screen and (max-width: 768px) {
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
} */

.nav-items {
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
  justify-content: space-evenly;
  gap: 30px;
  list-style: none;
  color: var(--light);

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  /* padding: 0 1rem; */
  /* height: 100%; */
  cursor: pointer;
}

.navbar-link:active {
  border-bottom: 3px solid #fff;
}

.navbar-sign-in-button-container {
  display: flex;
  justify-content: flex-end;
}

.navbar-sign-in-button {
  /* justify-self: flex-end; */
  /* width: 150px; */
  /* padding: 10px 10px; */
  height: 40px;
}
