.home {
  /* margin: 1rem; */
  min-height: 100vh;
  background-color: var(--dark);
  background: url("../assets/photos/guitarist-with-pedals.png") no-repeat center
    center fixed;
  background-size: cover;
  position: relative;
}

.home .wave-dark {
  min-height: 100vh;
  background: url("../assets/graphics/wave-dark.svg") no-repeat center center
    fixed;
  background-position: left;
  background-size: cover;
  /* transform: scaleY(-1); */
}

.home .welcome-container {
  min-width: 200px;
  max-width: 600px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  margin-top: 25vh;
}

.home .logo-text {
  font-size: 5rem;
  color: var(--opal-light);
  font-family: Dokdo, Menlo, monospace;
}

.home .about-us {
  color: var(--grey-light);
  text-align: center;
  /* margin-bottom: 75px;
  margin-top: 5px; */
}

.home. .about-us-sub-headings {
  padding: 0.5rem;
}
