.home {
  background: url("../assets/photos/keagan-henman-1.png") no-repeat center
    center fixed;
  background-size: cover;
  height: 100vh;
  position: relative;
  margin-top: -45px;
  display: flex;
  justify-content: center;
  padding-top: 30vh;
}

.home-content {
  color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 55vw;
  position: absolute;
  top: 30%;
}

.home-heading {
  font-family: "Playfair Display", "PT Serif", "Roboto Mono", monospace;
  font-size: 45px;
  font-weight: 800;
  padding-bottom: 20px;
}

.home-subheading {
  padding: 10px 0 5px 0;
  font-size: 14px;
}

.buttons-row {
  /* margin-top: 20px; */
  display: flex;
  gap: 20px;
  align-items: center;
}

.sign-up-button {
  background-color: var(--opal);
  color: var(--dark);
  padding: 10px 10px;
  font-weight: bold;
  border: 1px solid var(--opal);
}

.sign-in-button {
  background-color: transparent;
  color: var(--light);
  padding: 10px 10px;
  font-weight: bold;
}

.sign-in-button:hover {
  border-color: grey;
}
