:root {
  --light: #f8f9fa;
  --dark: #181a1c;
  --grey: #696d7d;
  --opal: #9cb9b9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", Menlo, monospace;
  font-size: 16px;
  color: var(--light);
}
